section {
    margin: 1rem;
}

h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 20px;
    font-weight: bold;
}

.number_red {
    color: rgb(255, 0, 123);
    margin: 0.5rem;
}

/* Css pour le formulaire */

button {
    border: 2px solid #882984;
    background-color: #a430a0;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

button:active {
    border: 2px solid #9274b5;
    background-color: #cdb6e7;
    color: black;
}

.FormulaireRead {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.469);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    /* gap: 0.5rem; */
    padding: 1rem;
    margin-bottom: 2rem;
}

/* Ajouter une marge ou un espacement entre les labels et les inputs */
.FormulaireRead label {
    color: rgb(0, 0, 0);
    margin-left: 1rem;
    font-weight: bold;
    margin-top: 1rem;
}

/* Style des inputs */
.FormulaireRead input {
    display: flex;
    padding: 5px;
    border: 1px solid #a430a0;
    border-radius: 5px;
    width: -webkit-fill-available;
    background-color: #f5dbf6;
    margin: 0.3rem;
}

/* css pour l'ensemble du code qui concerne titre et auteur afin de les avoir un a coté de l autre par 3  */
.ContainerRead {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 1rem;
}

/* css pour l'image */
.ImagesRead {
    /* display: block; */
    display: flex;
    justify-content: center;
}

/* Css pour le {book.imageUrl} */
.ImagesRead img {
    max-width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.71);
    transform: scale(0.7);
    border: 5px solid black;
    align-items: center;
}

/* css pour le titre et l auteur */
.TitreRead {
    padding: 5px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 60px;
    font-size: 15px;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    color: #ffffff;
}

.TitreRead h3 {
    font-weight: bold;
}

.TitreRead p {
    margin-top: 1rem;
}

/* classe spcéciale pour les livres */
.LivreRead {
    display: flex;
    border-radius: 10px; /* Coins arrondis */
    padding: 0;
    margin-top: 0.3rem;
    margin-bottom: 0.2rem;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.71); /* Ombre légère */
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    background-color: black;
}

.LivreRead__img {
    /* width: 300px; */
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.Poubelle {
    width: 1rem;
    height: 1rem;
    margin: 0.1em;
    padding: 0.1rem;
}

/* Logo livre à coté de bibliothèque */
.LivreOuvertLogoReadPage {
    width: 5%;
    gap: 1rem;
}
.big_title {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    /* text-align: center; */
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.big_title h1 {
    font-size: 30px;
    font-weight: bold;
}

.checkbox-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem;
    justify-content: space-between;
    color: #ffffff;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.checkbox input {
    margin-right: 0.5em; /* Ajouter une marge à droite du checkbox */
}

.checkbox-label {
    margin-left: 0.5em; /* Ajouter une marge à gauche du label */
}

.DeleteButton {
    align-self: flex-end; /* Aligner le bouton de suppression à gauche */
    border: 2px solid #882984;
    background-color: #a430a0;
}

/* Css pour le boutton de la page d accueil */
.retour_home {
    padding: 1rem;
}

.home_back {
    display: flex;
    max-width: 200px;
}

.home_back p {
    color: #633d80;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.home_back p:active {
    color: #dec6f1;
}

.home_back a {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    text-decoration: none;
}

button {
    border: 2px solid #fae1f9;
    background-color: #e8b9e7;
    margin: 1rem;
    padding: 0;
    font-weight: bold;
    border-radius: 10px;
    padding: 0.5rem;
}
button:active {
    border: 2px solid #9274b5;
    background-color: #cdb6e7;
    color: black;
}
