/* importations de style font */
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script&family=Gowun+Batang&family=Montserrat+Alternates&family=Protest+Riot&family=Satisfy&family=Vollkorn&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script&family=Gowun+Batang&family=Montserrat+Alternates:wght@400;700&family=Protest+Riot&family=Satisfy&family=Vollkorn&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@400;700&family=Gowun+Batang&family=Montserrat+Alternates:wght@400;700&family=Protest+Riot&family=Satisfy&family=Vollkorn&display=swap");
/* font-family: "Protest Riot", sans-serif; pour titre
font-family: 'Gowun Batang', serif;
font-family: 'Dancing Script', cursive; pour titre
font-family: 'Satisfy', cursive; pour titre si jamais mais pas texte
font-family: 'Vollkorn', serif; 
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Courgette', cursive;*/

section {
    margin: 1rem;
}

.Total h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 20px;
    font-weight: bold;
    font-family: "Montserrat Alternates", sans-serif;
}

.number_red {
    color: rgb(255, 0, 123);
    margin: 0.5rem;
}

/* Css pour le boutton de la page d accueil */

.home_back {
    display: flex;
    max-width: 200px;
}

.home_back a {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 1rem;
    color: white;
}

.home_back a:hover {
    color: #1a1919;
}

.retour_home {
    padding: 1rem;
}
.retour_home button {
    display: grid;
    border: 2px solid #8f528d;
    background-color: #a430a0;
    margin: 1rem;
    padding: 0;
    font-weight: bold;
    border-radius: 10px;
    padding: 0.5rem;
    font-family: "Montserrat Alternates", sans-serif;
}

.retour_home button:active {
    border: 2px solid #c5ace1;
    background-color: #ddcdf0;
    color: black;
}

.retour_home button:hover {
    border: 2px solid #c5ace1;
    background-color: #ddcdf0;
}

.FormulaireRead {
    font-family: "Montserrat Alternates", sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.469);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    /* gap: 0.5rem; */
    padding: 1rem;
    margin-bottom: 2rem;
}

/* Ajout d'un espacement entre les labels et les inputs */
.FormulaireRead label {
    color: rgb(0, 0, 0);
    margin-left: 1rem;
    font-weight: bold;
    margin-top: 1rem;
}

/* Style des inputs */
.FormulaireRead input {
    display: flex;
    padding: 5px;
    border: 1px solid #a430a0;
    border-radius: 5px;
    width: -webkit-fill-available;
    background-color: #f5dbf6;
    margin: 0.3rem;
}

/* css pour l'ensemble du code qui concerne titre et auteur afin de les avoir un a coté de l autre par 3  */
.ContainerRead {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 1rem;
}

/* css pour l'image */
.ImagesRead {
    /* display: block; */
    display: flex;
    justify-content: center;
}

/* Css pour le {book.imageUrl} */
.ImagesRead img {
    max-width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.71);
    transform: scale(0.7);
    border: 5px solid black;
    align-items: center;
}

/* css pour le titre et l auteur */
.TitreRead {
    padding: 5px;
    text-align: center;
    font-family: "Montserrat Alternates", sans-serif;
    min-height: 60px;
    font-size: 15px;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    color: #ffffff;
}

.TitreRead h3 {
    font-weight: bold;
}

.TitreRead p {
    margin-top: 1rem;
}

/* classe spcéciale pour les livres */
.LivreRead {
    display: flex;
    border-radius: 10px; /* Coins arrondis */
    padding: 0;
    margin-top: 0.3rem;
    margin-bottom: 0.2rem;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.71); /* Ombre légère */
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    background-color: #1a1919;
}

.LivreRead__img {
    /* width: 300px; */
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.Poubelle {
    width: 1rem;
    height: 1rem;
    margin: 0.1em;
    padding: 0.1rem;
}

/* Logo livre à coté de bibliothèque */
.LivreOuvertLogoReadPage {
    width: 5%;
    gap: 1rem;
}
/* Titre */
.big_title {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    /* text-align: center; */
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 6rem;
}
.big_title h1 {
    font-size: 50px;
    font-weight: bold;
    font-family: "Dancing Script", cursive;
    color: #7daedc;
}

/* Css pour le bouton lu et delete */
.checkbox-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem;
    justify-content: space-between;
    color: #ffffff;
    font-weight: bold;
    font-family: "Montserrat Alternates", sans-serif;
}

.checkbox input {
    margin-right: 0.5em; /* Ajouter une marge à droite du checkbox */
}

.checkbox-label {
    margin-left: 0.5em; /* Ajouter une marge à gauche du label */
    font-family: "Montserrat Alternates", sans-serif;
}

.DeleteButton {
    align-self: flex-end; /* Aligner le bouton de suppression à gauche */
    border: 2px solid #882984;
    background-color: #a430a0;
}

/* Css formulaire button */
.FormVisibility {
    display: grid;
    border: 2px solid #8f528d;
    background-color: #a430a0;
    margin: 2rem;
    font-weight: bolder;
    border-radius: 10px;
    padding: 0.5rem;
    font-family: "Montserrat Alternates", sans-serif;
    color: white;
}

.FormVisibility:hover {
    border: 2px solid #c5ace1;
    background-color: #ddcdf0;
    color: black;
}

.ajout {
    display: grid;
    border: 2px solid #8f528d;
    background-color: #a430a0;
    margin: 2rem;
    font-weight: bolder;
    border-radius: 10px;
    padding: 0.5rem;
    font-family: "Montserrat Alternates", sans-serif;
    color: white;
}

.ajout:hover {
    border: 2px solid #c5ace1;
    background-color: #ddcdf0;
    color: black;
}

@media screen and (max-width: 600px) {
    /* Styles spécifiques pour les écrans de 600 pixels de largeur et moins */
    section {
        margin: 0.5rem;
    }

    .Total h2 {
        font-size: 18px;
    }

    .LivreOuvertLogoReadPage {
        width: 15%;
    }

    .big_title {
        flex-direction: column;
    }

    .big_title h1 {
        font-size: 40px;
    }

    .ContainerRead {
        grid-template-columns: 1fr;
    }

    .retour_home button {
        margin: 0.5rem;
    }

    .home_back a {
        gap: 0.5rem; /* Ajoutez d'autres styles au besoin */
    }

    .retour_home button:hover {
        border: 2px solid #c5ace1;
        background-color: #ddcdf0;
    }
}
