/* importations de style font */
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script&family=Gowun+Batang&family=Montserrat+Alternates&family=Protest+Riot&family=Satisfy&family=Vollkorn&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script&family=Gowun+Batang&family=Montserrat+Alternates:wght@400;700&family=Protest+Riot&family=Satisfy&family=Vollkorn&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@400;700&family=Gowun+Batang&family=Montserrat+Alternates:wght@400;700&family=Protest+Riot&family=Satisfy&family=Vollkorn&display=swap");
/* font-family: "Protest Riot", sans-serif; pour titre
font-family: 'Gowun Batang', serif;
font-family: 'Dancing Script', cursive; pour titre
font-family: 'Satisfy', cursive; pour titre si jamais mais pas texte
font-family: 'Vollkorn', serif; 
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Courgette', cursive;*/

.Home {
    margin: 1rem;
}
.first {
    font-size: 20px;
}

.first p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: "Montserrat Alternates", sans-serif;
}

.first h2 {
    color: #cf80d2;
    font-weight: bold;
}

.first h3 {
    font-weight: bold;
    color: #7daedc;
    font-size: 2rem;
    margin-bottom: 2rem;
    font-family: "Dancing Script", cursive;
}
li {
    margin: 1rem;
    color: #7daedc;
    list-style-type: disclosure-closed;
}

.first h2 {
    margin-top: 3rem;
    margin-bottom: 6rem;
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    font-family: "Dancing Script", cursive;
}

.Lire {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 1rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.Droit {
    align-items: center;
}

.ImageWrapper {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 1rem;
}

.ImageALire {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.71);
    /* margin-right: 1rem; */
}

.TexteALire {
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    font-size: 20px;
}

.TexteALire p {
    margin-top: 1rem;
    font-family: "Montserrat Alternates", sans-serif;
}

.TexteALire h4 {
    margin: 1rem;
    font-weight: bold;
    color: #cf80d2;
    font-family: "Dancing Script", cursive;
    font-size: 1.6rem;
}

.copyright {
    width: fit-content;
    font-family: "Montserrat Alternates", sans-serif;
}

.Fonctionnalités h3 {
    font-weight: bold;
    color: #7daedc;
    font-size: 2rem;
    margin-bottom: 5rem;
    font-family: "Dancing Script", cursive;
    margin-top: 3rem;
}

.AchatsBooks {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 1rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ImageWrap {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 1rem;
}

.ImageAcheter {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.71);
}

.TexteAchat {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    font-size: 20px;
}
.TexteAchat p {
    margin-top: 1rem;
    font-family: "Montserrat Alternates", sans-serif;
}

.TexteAchat h4 {
    margin: 1rem;
    font-weight: bold;
    color: #cf80d2;
    font-family: "Dancing Script", cursive;
    font-size: 1.6rem;
}

.copy {
    width: fit-content;
    font-family: "Montserrat Alternates", sans-serif;
    text-align: center;
}

.Biblio {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 20px;
}
.Biblio h4 {
    margin: 1rem;
    font-weight: bold;
    color: #cf80d2;
    font-family: "Dancing Script", cursive;
    font-size: 1.6rem;
}

.Conclusion {
    margin-top: 5rem;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 20px;
}

.Conclusion h3 {
    font-weight: bold;
    color: #7daedc;
    font-family: "Dancing Script", cursive;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.Conclusion p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
