.Home{
  margin: 1rem;
}

.Lire {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 1rem;
}

.Droit {
  align-items: center;
}

.ImageWrapper {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 1rem;
}

.ImageALire {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.71);
  /* margin-right: 1rem; */
}

.TexteALire {
  text-align: -moz-center;
  font-size: 20px;
}

.Lire h4 {
  margin: 1rem;  
}

.copyright{
  width: fit-content;
}