section {
    margin: 1rem;
}

h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 20px;
    font-weight: bold;
}

.number_lib {
    color: rgb(255, 0, 123);
    margin: 0.5rem;
}

/* css pour le bouton retour */
button {
    display: grid;
    border: 2px solid #8f528d;
    background-color: #a430a0;
    margin: 1rem;
    padding: 0;
    font-weight: bold;
    border-radius: 10px;
    padding: 0.5rem;
}

button:active {
    border: 2px solid #493362;
    background-color: #493362;
    color: black;
}

/* Style du lien à l'intérieur du bouton */
.Back a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.Back {
    display: flex;
    max-width: 200px;
}
.Back p {
    color: white;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.Back p:active {
    color: #dec6f1;
}

.Retour {
    padding: 1rem;
}

/* Css pour le formulaire */
.Formulaire {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.469);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 0.5rem; */
    padding: 1rem;
    margin-bottom: 2rem;
}

/* Ajouter une marge ou un espacement entre les labels et les inputs */
.Formulaire label {
    color: rgb(0, 0, 0);
    margin-left: 1rem;
    font-weight: bold;
    margin-top: 1rem;
}

/* Style des inputs */
.Formulaire input {
    display: flex;
    padding: 5px;
    border: 1px solid #a430a0;
    border-radius: 5px;
    width: -webkit-fill-available;
    background-color: #f5dbf6;
    margin: 0.3rem;
}

/* css pour l'ensemble du code qui concerne titre et auteur afin de les avoir un a coté de l autre par 3  */
.Container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 1rem;
}

/* css pour le titre et l auteur */
.Titre {
    padding: 5px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 60px;
    font-size: 15px;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    color: #ffffff;
    overflow: hidden;
}

.Titre h3 {
    font-weight: bold;
}

.Titre p {
    margin-top: 1rem;
}
/* classe spcéciale pour les livres */
.Livre {
    display: flex;
    border-radius: 10px; /* Coins arrondis */
    padding: 0;
    overflow: hidden;
    margin-top: 0.3rem;
    margin-bottom: 0.2rem;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.71); /* Ombre légère */
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    background-color: black;
}

/* css pour l'image */
.Livre_img {
    width: 100%;
    object-fit: cover;
}

/* css pour le titre de la page */
.big_title_biblio {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.big_title_biblio h1 {
    font-size: 30px;
    font-weight: bold;
}

.BiblioLogoPage {
    width: 3%;
    gap: 1rem;
}

.BouttonCreation {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 1rem;
}

/* Media query pour les téléphones */
@media only screen and (max-width: 600px) {
    /* Ajoutez ici les styles spécifiques pour les téléphones */
    .big_title_biblio h1 {
        font-size: 24px;
    }

    .BiblioLogoPage {
        width: 7%;
    }

    .Container {
        grid-template-columns: 1fr;
    }
}
