/* importations de style font */
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script&family=Gowun+Batang&family=Montserrat+Alternates&family=Protest+Riot&family=Satisfy&family=Vollkorn&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script&family=Gowun+Batang&family=Montserrat+Alternates:wght@400;700&family=Protest+Riot&family=Satisfy&family=Vollkorn&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@400;700&family=Gowun+Batang&family=Montserrat+Alternates:wght@400;700&family=Protest+Riot&family=Satisfy&family=Vollkorn&display=swap");
/* font-family: "Protest Riot", sans-serif; pour titre
font-family: 'Gowun Batang', serif;
font-family: 'Dancing Script', cursive; pour titre
font-family: 'Satisfy', cursive; pour titre si jamais mais pas texte
font-family: 'Vollkorn', serif; 
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Courgette', cursive;*/

section {
    margin: 1rem;
}

.Tot h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 20px;
    font-weight: bold;
    font-family: "Montserrat Alternates", sans-serif;
}

.number_lib {
    color: rgb(255, 0, 123);
    margin: 0.5rem;
}

/* css pour le bouton retour */
button {
    display: grid;
    border: 2px solid #8f528d;
    background-color: #a430a0;
    margin: 1rem;
    padding: 0;
    font-weight: bold;
    border-radius: 10px;
    padding: 0.5rem;
}

button:active {
    border: 2px solid #493362;
    background-color: #493362;
    color: black;
}

/* Style du lien à l'intérieur du bouton */
.Back {
    display: flex;
    max-width: 200px;
}

.Back a {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 1rem;
    color: white;
}

.Retour {
    padding: 1rem;
}

.Retour {
    padding: 1rem;
}

.Retour button {
    display: grid;
    border: 2px solid #8f528d;
    background-color: #a430a0;
    margin: 1rem;
    padding: 0;
    font-weight: bold;
    border-radius: 10px;
    padding: 0.5rem;
    font-family: "Montserrat Alternates", sans-serif;
}

.Retour button:active {
    border: 2px solid #c5ace1;
    background-color: #ddcdf0;
    color: black;
}

.Retour button:hover {
    border: 2px solid #c5ace1;
    background-color: #ddcdf0;
}

/* Css pour le formulaire */
.Formulaire {
    font-family: "Montserrat Alternates", sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.469);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 0.5rem; */
    padding: 1rem;
    margin-bottom: 2rem;
}

/* Ajouter une marge ou un espacement entre les labels et les inputs */
.Formulaire label {
    color: rgb(0, 0, 0);
    margin-left: 1rem;
    font-weight: bold;
    margin-top: 1rem;
}

/* Style des inputs */
.Formulaire input {
    display: flex;
    padding: 5px;
    border: 1px solid #a430a0;
    border-radius: 5px;
    width: -webkit-fill-available;
    background-color: #f5dbf6;
    margin: 0.3rem;
}

/* css pour l'ensemble du code qui concerne titre et auteur afin de les avoir un a coté de l autre par 3  */
.Container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 1rem;
}

/* css pour le titre et l auteur */
.Titre {
    padding: 5px;
    text-align: center;
    font-family: "Montserrat Alternates", sans-serif;
    min-height: 60px;
    font-size: 15px;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    color: #ffffff;
    overflow: hidden;
}

.Titre h3 {
    font-weight: bold;
}

.Titre p {
    margin-top: 1rem;
}
/* classe spcéciale pour les livres */
.Livre {
    display: flex;
    border-radius: 10px; /* Coins arrondis */
    padding: 0;
    overflow: hidden;
    margin-top: 0.3rem;
    margin-bottom: 0.2rem;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.71); /* Ombre légère */
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    background-color: #1a1919;
}

/* css pour l'image */
.Livre_img {
    width: 100%;
    object-fit: cover;
}

/* css pour le titre de la page */
.big_title_biblio {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.big_title_biblio h1 {
    font-size: 50px;
    font-weight: bold;
    font-family: "Dancing Script", cursive;
    color: #7daedc;
}

.BiblioLogoPage {
    width: 3%;
    gap: 1rem;
}

.BouttonCreation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.BouttonCreation button {
    display: grid;
    border: 2px solid #8f528d;
    background-color: #a430a0;
    margin: 2rem;
    font-weight: bolder;
    border-radius: 10px;
    padding: 0.5rem;
    font-family: "Montserrat Alternates", sans-serif;
    color: white;
}
.BouttonCreation button:hover {
    border: 2px solid #c5ace1;
    background-color: #ddcdf0;
    color: black;
}

/* Css pour le formulaire */
.visibility {
    isplay: grid;
    border: 2px solid #8f528d;
    background-color: #a430a0;
    margin: 2rem;
    font-weight: bolder;
    border-radius: 10px;
    padding: 0.5rem;
    font-family: "Montserrat Alternates", sans-serif;
    color: white;
}

.visibility:hover {
    border: 2px solid #c5ace1;
    background-color: #ddcdf0;
    color: black;
}

/* Media query pour les téléphones */
@media only screen and (max-width: 600px) {
    /* Ajoutez ici les styles spécifiques pour les téléphones */
    .big_title_biblio h1 {
        font-size: 24px;
    }

    .BiblioLogoPage {
        width: 7%;
    }

    .Container {
        grid-template-columns: 1fr;
    }
}
