/* navbar.css */

nav ul {
  border-radius: 8px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1rem;
  display: flex;
  justify-content: center; /* Utilisez justify-content: center pour centrer les éléments horizontalement */
  align-items: center; /* Utilisez align-items: center pour centrer les éléments verticalement */
  background-color: #922f95cc; /* Couleur de fond de la barre de navigation */
}

nav li {
  list-style: none; /* Décommentez cette ligne pour supprimer les puces de la liste */
}

nav li a {
  text-decoration: none; /* Suppression du soulignement du lien */
  color: white; /* Couleur du texte blanc */
  padding: 1rem; /* Espace autour du texte du lien */
  margin: 1rem;
}

nav li a:hover {
  border-radius: 8px; 
  background-color: #ab8fc2; /* Couleur de fond au survol */
  color: black;
}
.HomeLog {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5em;
}

.LivreFermeLogo {
  width: 1.2rem;
  /* height: 1.2rem; */
  margin-right: 0.5em;
}

.BiblioLogo {
  width: 1.5rem;
  /* height: 1.5rem; */
  margin-right: 0.5em;
}

.LivreOuvertLogo {
  width: 2rem;
  margin: 0.5em;
}

